.block-mixins.block-grid#Grid
    .pre-title mixins
    .title Grid
    .desc coming soon...
    .title-sub  The demo default <code>.grid</code>, grid has no gutter.
    .grid
        for _col, _i in grid
            .col.border-bottom(class=[`col-${_col}`, _i%2==1?'border-right':''])= `col-${_col}`
    .title-sub The demo <code>.grid.gutter</code>, grid with gutter.
    .grid.gutter
        for _col, _i in grid
            .col(class=[`col-${_col}`])= `col-${_col}`
    .title-sub The demo <code>.grid.gutter.condensed</code>, grid with gutter, but condensed.
    .grid.gutter.condensed
        for _col, _i in grid
            .col.border-bottom(class=[`col-${_col}`])= `col-${_col}`